:root{
    --main-font: "Roboto", sans-serif;
    --navy: #1F2937;
    --blue: #3882F6;
    --light-grey: #E5E7EB;
    --white: #F9FAF8;
    --fsz-48: 48px;
    --fsz-36: 36px;
    --fsz-24: 24px;
    --fsz-18: 18px;
    --fw-900: 900;
    --fw-300: 300;
}

html{
    box-sizing: border-box;
}

*, body{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

header, main, footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

header, footer{
    background-color: var(--navy);
}

.container{
    width: 1000px;
}

header {
    padding-top: 16px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav > ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
   margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.hero_logo{
    font-size: var(--fsz-24);
    font-weight: var(--fw-900);
}

.hero_image_placeholder{
    width: 530px;
    color: var(--light-grey);
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    width: 430px;
}

.hero-text h1{
    width: 350px;
    font-size: var(--fsz-48);
    font-weight: var(--fw-900);
}

.hero-text p {
    font-size: var(--fsz-18);
    padding: 10px 0;
}

.hero-text h1, nav > p{
    color: var(--white);
}

.hero-text p, nav ul li a{
    color: var(--light-grey);
}

.cta_button{
    background-color: var(--blue);
    color: var(--white);
    font-weight: var(--fw-900);
    border: none;
    border-radius: 8px;
    padding: 8px 28px;
}

.random_info{
    padding: 32px 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random_info h2{
    margin-bottom: 32px;
}

.body_image_placeholder_container{
    display: flex;
    justify-content: space-center;
}

.placeholder_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-right: 60px;
    width: 150px;
}

.placeholder_container:last-child{
    margin-right: 0;
}

.placeholder{
    width: 150px;
    height: 150px;
    border: 4px solid var(--blue);
    border-radius: 16px;
}

.quote_section{
    background-color: var(--light-grey);     
}

.legendary_quote{
    padding: 64px 0;
    width: 780px;
}

.legendary_quote blockquote {
    font-size: var(--fsz-36);
    font-weight: var(--fw-300);
    color: var(--navy);
}

.quote{
    display: flex;
    justify-content: center;
}
